.paragraph--type--flexible-cta-blocks {
  margin-bottom: 80px;
  @media #{$mobile} {
    margin-bottom: 25px;
  }
  .flexible-cta-block {
    @include cta-block;
    margin-bottom: 30px;
    @media #{$mobile} {
      margin-left: 15px;
    }

    .cta-wrap {
      height: 100%;
      padding: 40px 30px;
      border: 2px solid $color-extra-light-gray;
      background-color: $white;

      h2 {
        color: $color-dark-gray;
        text-transform: initial;
      }

      .field--name-field-link {
        margin-top: 20px;
        a {
          @include global-link;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }
  }

  @media screen and (max-width: 1199px) {
    .w-100 {
      display: none;
    }
  }

  &.col-display-2 {
    .col.flexible-cta-block {
      flex: 0 0 50%;
      @media #{$mobile} {
        flex: auto;
      }
    }
  }

  &.col-display-3 {
    .col.flexible-cta-block {
      flex: 0 0 33.33%;
      @media screen and (max-width: 1199px) {
        flex: 0 0 50%;
      }
      @media #{$mobile} {
        flex: auto;
      }
    }
  }

  &.col-display-4 {
    .col.flexible-cta-block {
      flex: 0 0 25%;
      @media screen and (max-width: 1199px) {
        flex: 0 0 50%;
      }
      @media #{$mobile} {
        flex: auto;
      }
    }
  }
}
