.path-node  {
  .region-content {
    margin-top: 70px;
  }
  article {
    .text-formatted.field--name-body {
      margin-bottom: 50px;
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.page-node-6266,
.page-node-6265,
.page-node-6243,
.page-node-76 {
  .region-content {
    margin-top: 0;
  }
}
